<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/71fa0172-ce90-403c-94a9-14ce1e88f56a/resourceGroups/rg_southeastasia_82257_3_16735060131511/providers/Microsoft.Web/sites/dotnetcrudapi</ResourceId>
    <ResourceGroup>rg_southeastasia_82257_3_16735060131511</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://dotnetcrudapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://dotnetcrudapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$dotnetcrudapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>